Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^thefunkids.com [NC]
RewriteRule ^(.*)$ http://www.thefunkids.com/$1 [L,R=301,NC]
RewriteCond %{THE_REQUEST} ^.*/index\.php 
RewriteRule ^(.*)index.php$ /$1 [R=301,L] 
RewriteCond %{HTTP_HOST} ^(www\.)?example\.com$
RewriteRule ^$ http://www.thefunkids.com/index.php [L,R=301]
RewriteRule ^kid-rhymes$ kids-rhymes.php [NC,L]
RewriteRule ^kid-games$ kids-games.php [NC,L]
RewriteRule ^kid-stories$ kids-stories.php [NC,L]
RewriteRule ^kid-puzzles-games$ puzzles-games.php [NC,L]
RewriteRule ^kids-fun-learn$ kids-fun-learn.php [NC,L]
RewriteRule ^party-planners$  party-planners.php [NC,L]
RewriteRule ^mom-forum$ mom-forum.php [NC,L]
RewriteRule ^login-kid-mom-forum$ login-kid-mom-forum.php [NC,L]
RewriteRule ^signup-mother-baby-forum$  signup-mother-baby-forum.php [NC,L]
RewriteRule ^forgot-password-mom-baby$  passward-mom-baby.php [NC,L]
RewriteRule ^terms-condition$  terms-condition.php [NC,L]
RewriteRule ^contact-us$  contact-us.php [NC,L]
RewriteRule ^about-us$  about-us.php [NC,L]
RewriteRule ^mom-forum-user-profile$  mom-forum-profile.php [NC,L]
RewriteRule ^thank-you$  message.php [NC,L]
RewriteRule ^thanks$  thanks.php [NC,L]
RewriteRule ^kid-fun-learn-(.*)$  view-kids-fun-learn.php?id=$1 [L]
RewriteRule ^kids-rhymes-(.*)$ view-kids-rhymes.php?id=$1 [L]
RewriteRule ^kids-games-(.*)$ view-kids-games.php?id=$1 [L]
RewriteRule ^kids-story-(.*)$ view-kids-stories.php?id=$1 [L]
RewriteRule ^kid-puzzle-(.*)$ view-puzzles-games.php?id=$1 [L]
RewriteRule ^kid-mom-forum-(.*)$ mom-forum-thread.php?id=$1 [L]
RewriteRule ^edit-mom-thread-(.*)$ edit-mom-thread.php?id=$1 [L]
RewriteRule ^new-thread-(.*)$ mom-forum-post_thread.php?id=$1 [L]
RewriteRule ^mom-forum-thread-(.*)$ mom-forum-thread-detail.php?id=$1 [L]
RewriteRule ^mom-thread-reply-(.*)$ mom-thread-reply.php?id=$1 [L]
RewriteRule ^edit-thread-reply-(.*)$ edit-thread-reply.php?id=$1 [L]
RewriteRule ^edit-thread-quick-reply-(.*)$ edit-thread-quick-reply.php?id=$1 [L]
RewriteRule ^mom-thread-quick-reply-(.*)$ mom-thread-quick-reply.php?id=$1 [L]
RewriteCond %{HTTP_HOST} ^http://www.thefunkids.com/kids-rhymes-itsy-bitsy-spider/$1[NC]
RewriteRule ^(.*)$ http://www.thefunkids.com/kids-rhymes-incy-wincy-spider [L,R=301,NC]
RewriteRule ^incredibles$  incredibles.php [NC,L]
RewriteRule ^thefunkids_services/user-login$ thefunkids_services/user_login.php [NC,L]
RewriteRule ^thefunkids_services/user-register$ thefunkids_services/user_register.php [L]