
body {
    overflow-x: hidden;
}

p {
    font-size: 14px;
}

p.small {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #18bc9c;
}

h1,
h2,
h3,
h4,
h5,
h6 {

}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #18bc9c;
}

hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}

.img-centered {
    margin: 0 auto;
}

header {
    text-align: center;
    color: #fff;
    background: #18bc9c;
}

header .container {
   padding-top: 30px;
   padding-bottom: 30px;

}

header img {
    display: block;
	border:5px solid #fff;
   
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

@media(min-width:768px) {
/*    header .container {
        padding-top: 200px;
        padding-bottom: 100px;
    }

    header .intro-text .name {
        font-size: 4.75em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    }*/
}

@media(min-width:768px) {
    .navbar-fixed-top {
       /* padding: 25px 0;*/
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar {
   
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

section {
    padding: 100px 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

section.success {
    color: #fff;
    background: #18bc9c;
}

section.success a,
section.success a:hover,
section.success a:focus,
section.success a:active,
section.success a.active {
    outline: 0;
    color: #2c3e50;
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 75px;
    }
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(24,188,156,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #4775c9;
    background: #fff;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #18bc9c;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

footer {
    color: #fff;
	position:relative;
	 margin-top: 100px;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 30px;
    background-color: #4775c9;
}

footer .footer-col {
    margin-bottom: 30px;
}

footer .footer-below {
    padding: 15px 0;
    background-color: #2d58a5;
}
ul.foo{
	float:right;
	
	}
ul.foo li{
	float:left;
	list-style:none;
	margin-left:10px;
	
	}

ul.foo li a{
	color:#fff;
	
	}
.social-media{
	left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -42px;
    width: 184px;
	
	}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
	background:#4775c9;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}


.top-level{
	width:100%;
	border-bottom:1px solid #d9dee4;
	
	}

.top-level ul{
	float:right;
	margin:15px 0;

}
.top-level ul li{
	list-style:none;
	float:left;
	font-size:15px;
	font-weight:300;
	color:#515151;
	margin:0 10px;

}
.top-level ul li a{
	color:#515151;
}

.top-level ul li i{
	margin-right:5px;
	
	}

.products{
	background:#fff;
	border-top:5px solid #f74c45;
	margin:20px 0;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.19);
-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.19);
box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.19);
}
	
.product-top{
	font-family: 'Roboto Condensed', sans-serif;
	font-size:22px;
	color:#c100ad;
	padding:15px 15px;
	margin:0px 0 20px 0;
	border-bottom:1px solid #eaeaea;
	text-transform: uppercase;
	font-weight:700;
	position:relative;
}



.products h3{
	font-size:18px;
	font-weight:300;
	color:#4a4a4a;
	margin:15px 0;

}

.products p{
	font-size:14px;
	font-weight:400;
	color:#7d7d7d;
	margin:10px 0;

}
a.for-more{
	background:#f74c45;
	color:#fff;
	padding:9px 15px;
	width:100px;
	margin:8px auto 8px;
	display:inherit;
	text-align:center;
	
	}

a.for-more:hover{
	background:#f7be24;
	text-decoration:none;
	
	}

.carasol-arrow{
	position:absolute;
	right: 10px;
    top: 12px;
}
	
.pro{
	width:230px;
	/*margin:0 auto;*/
	
	}

.pro img{
	width:230px;
	height:273px;	
	}

.fet-wrap{
	width:100% !important;
	/*padding:0 20px 0 25px;*/
	margin:0 15px;
	}

ul#slider li{
	list-style:none;
	
	}

.left-navigation{
	background:#fff;
	border-top:5px solid #f74c45;
	margin:20px 0;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.19);
-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.19);
box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.19);
}
	
.navigation-top{
	font-family: 'Roboto Condensed', sans-serif;
	font-size:22px;
	color:#c100ad;
	padding:15px 15px;
	margin:0px 0 0px 0;
	border-bottom:1px solid #eaeaea;
	text-transform: uppercase;
	font-weight:700;
	position:relative;
}
.left-navigation ul {
	padding:0px;
	margin:0px;
	
	}
.left-navigation ul li{
	list-style:none;
	padding:15px 12px;
	border-bottom:1px solid #eaeaea;
	font-size:14px;
	color:#666;
	}
.left-navigation ul li a{
	color:#666;
	display:block;
	}
.left-navigation ul li{
	border-left:5px solid #25816c;
}

.left-navigation ul li + li{
	border-left:5px solid #c0da3b;
}
.left-navigation ul li + li + li{
	border-left:5px solid #fce116;
}
.left-navigation ul li + li + li + li{
	border-left:5px solid #f84b47;
}
.left-navigation ul li + li + li + li + li{
	border-left:5px solid #5c85d5;
}
.left-navigation ul li + li + li + li + li + li{
	border-left:5px solid #1e8d6d;
}
.left-navigation ul li + li + li + li + li + li + li{
	border-left:5px solid #c0da3b;
}
.left-navigation ul li + li + li + li + li + li + li + li{
	border-left:5px solid #fde018;
}

.left-navigation ul li a:hover{
	text-decoration:none;
	
	}

.left-navigation ul li:hover{
	background:#f5f5f5;
	border-left:5px solid #c100ad;
	
	}

.seprator{
	height:1px;
	width:100%;
	background:#eee;
	margin:20px 0;
	
	}

.product-tabs{background:#fff;
	border-top:5px solid #f74c45;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.19);
-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.19);
box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.19);
margin-top:20px;

}
.product-tabs ul{
	width:100%;
	margin:0px;
	padding:0px;
	background:#fff;
	overflow:hidden;
	 border-bottom: 1px solid #eaeaea;
	 margin-bottom:20px;
	
	}

.product-tabs ul li{
	list-style:none;
	float:left;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:16px;
	text-transform:uppercase;
	
	}

.product-tabs ul li a{
	padding:15px 15px;
	display:block;
	color:#999999;
	
	}

.product-tabs ul li.ui-state-hover a{
	color:#f4554b;
	text-decoration:none;
	
	}

.product-tabs ul li.ui-state-active a{
	color:#f4554b;
	text-decoration:none;
	
	}

.product-tabs h3{
	font-size:18px;
	font-weight:300;
	color:#4a4a4a;
	margin:15px 0;

}

.product-tabs p{
	font-size:14px;
	font-weight:400;
	color:#7d7d7d;
	margin:10px 0;

}
.producthd{
	font-family: "Roboto Condensed",sans-serif;
	font-size:30px;
	font-weight:400;
	padding:0px;
	margin:0px;
	}

.product-discount{
	font-size:18px;
	color:#999;
	text-decoration:line-through;
	font-family:Georgia, "Times New Roman", Times, serif;
	display:inline-block;
	
	}

.product-price{
	font-size:24px;
	color:#f74c45;
	font-family:Georgia, "Times New Roman", Times, serif;
	display:inline-block;
	padding-left:10px;
	}

.in-stock{background: #f9f9f9;
    display: inline-block;
    font-size: 13px;
    padding: 10px;
    text-transform: capitalize;
	margin:15px 0;
	
	}

.in-stock span {
    color: #83c55f;
    font-weight: normal;
}


.product-options dt label {
    color: #2f2f2f;
    font-weight: normal;
}


.product-options dt label.required em {
    color: #eb340a;
    margin:0 5px;
	font-style: italic;
}
.product-options dd {
    border-bottom: 0 none;
    padding: 5px 10px 10px;
}

.product-options dt {
    font-weight: 300;

}

.product-options dd select {
    padding: 3px;
    width: 100%;
}

.product-options dd input.input-text, select, textarea {
    background: #fff ;
    border: 1px solid #eee;
    border-radius: 0;
    height: auto;
    line-height: 1.55;
    width: auto;
	font-size:13px;
}

.product-options-bottom {
    border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
    padding: 10px 0;
}

.product-options-bottom .price-box {
    border: 0 none;
    float: left;
    margin: 5px 30px 0 0;
}

.price-box .price {
    color: #f74c45;
    font-size: 18px;
    font-weight: normal;
}


.add-to-cart label {
    color: #666;
    float: left;
    font-weight: normal;
    margin: 4px 10px 0 0;
}


.add-to-cart .qty {
    border: 1px solid #eee;
    box-shadow: none;
    float: left;
    margin: 0px 10px 0px 0;
    padding: 5px 2px;
    text-align: center;
	width: 2.5em !important;
}
.add-to-cart .qty-button {
    float: left;
    margin: 5px 0;
}

.add-to-cart input.qty-decrease, .add-to-cart input.qty-increase {
    background-color: transparent;
    background-image: url("../images/btn-qty.png");
    background-repeat: no-repeat;
    border: medium none;
    cursor: pointer;
    float: left;
    height: 4px;
    margin: 4px 5px 0;
    padding: 0;
    width: 7px;
}

.add-to-cart input.qty-increase {
    background-position: 0 0;
}

.add-to-cart input.qty-increase:hover {
    background-position: 0 100%;
}

.add-to-cart button.button {
    margin: 3px 0;
}

.add-to-cart input.qty-decrease {
    background-position: 100% 100%;
    clear: both;
    margin-right: 15px;
}

.add-to-cart input.qty-decrease:hover {
    background-position: 100% 0;
}


.add-to-cart button.button {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff7670+0,f74c45+100 */
background: #ff7670; /* Old browsers */
background: -moz-linear-gradient(top, #ff7670 0%, #f74c45 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff7670), color-stop(100%,#f74c45)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ff7670 0%,#f74c45 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ff7670 0%,#f74c45 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ff7670 0%,#f74c45 100%); /* IE10+ */
background: linear-gradient(to bottom, #ff7670 0%,#f74c45 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7670', endColorstr='#f74c45',GradientType=0 ); /* IE6-9 */
    height: 30px;
    line-height: 30px;
	color: #fff;
    display: block;
	 padding: 0 8px;
    text-align: center;
    white-space: nowrap;
	border:none;
	

}
.add-to-cart button.button:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#555555+0,000000+100 */
background: #555555; /* Old browsers */
background: -moz-linear-gradient(top, #555555 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555555), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #555555 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #555555 0%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #555555 0%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom, #555555 0%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	
	}

.add-to-cart buttoncart {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff7670+0,f74c45+100 */
background: #ff7670; /* Old browsers */
background: -moz-linear-gradient(top, #ff7670 0%, #f74c45 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff7670), color-stop(100%,#f74c45)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ff7670 0%,#f74c45 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ff7670 0%,#f74c45 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ff7670 0%,#f74c45 100%); /* IE10+ */
background: linear-gradient(to bottom, #ff7670 0%,#f74c45 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7670', endColorstr='#f74c45',GradientType=0 ); /* IE6-9 */
    height: 30px;
    line-height: 30px;
	color: #fff;
    display: block;
	 padding: 0 8px;
    text-align: center;
    white-space: nowrap;
	border:none;
	

}
.add-to-cart buttoncart:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#555555+0,000000+100 */
background: #555555; /* Old browsers */
background: -moz-linear-gradient(top, #555555 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555555), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #555555 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #555555 0%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #555555 0%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom, #555555 0%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	
	}

.pad-bott{
	padding-bottom:50px;
	
	}


.description-tabs{background:#fff;
	border: 1px solid #eee;
	overflow: hidden;
	margin-top:20px;
	padding-bottom: 20px;

}
.description-tabs ul{
	width:100%;
	margin:0px;
	padding:0px;
	background:#fff;
	overflow:hidden;
	 border-bottom: 1px solid #eaeaea;
	 margin-bottom:20px;
	
	}

.description-tabs ul li{
	list-style:none;
	float:left;
	font-size:14px;
	text-transform:uppercase;
	
	}

.description-tabs ul li a{
	padding:15px 15px;
	display:block;
	color:#999999;
	
	}

.description-tabs ul li.ui-state-hover a{
	color:#f4554b;
	text-decoration:none;
	
	}

.description-tabs ul li.ui-state-active a{
	color:#f4554b;
	text-decoration:none;
	
	}

.description-tabs h3{
	font-size:18px;
	font-weight:300;
	color:#4a4a4a;
	margin:15px 0;

}

.description-tabs p{
	font-size:14px;
	font-weight:400;
	color:#7d7d7d;
	margin:10px 0;

}

.add-detail{
	margin:20px 0 0 0;
}

.home-latest{
	
	}

.btn-primary {
    background-color: #f74c45;
    border-color: #ee3a3f;
    color: #fff;
}
.cart-tabel{
	margin:0 10px;
	
	}

.cart-small-image{
	width:50px;
	margin:0 auto;
	
	}

.buttons {
    padding: 20px 20px;
}

.product-accord{
	background:#fff;
	border-top:5px solid #f74c45;
	margin:20px 0;
	padding:0px 15px 15px;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.19);
-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.19);
box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.19);
	
	}

.product-accord h3{
	font-size:13px;
	font-weight:400;
	color:#000;
	margin:10px 0px;
	padding:0px;
	border-bottom:1px solid #e4e4e4;
	padding:5px 20px;
	cursor:pointer;
	position:relative;
}

.measure-left {
    float: left;
    margin-right: 3px;
    margin-top: 5px;
}

.sliderInput .rangeFrom {
    float: left;
    width: 50%;
}

.sliderInput .rangeTo input {
    float: right;
    width: 60%;
}

.sliderInput .rangeFrom input {
    float: left;
    width: 60%;
}

.filterForm input {
    border: 1px solid #686868;
    border-radius: 3px;
    color: #333;
    font-size: 1.1rem;
    font-weight: normal;
    height: 22px;
    padding: 0 4px;
}


.sliderInput .rangeTo {
    float: right;
    width: 50%;
}

.measure-right {
    float: right;
    margin-right: 3px;
    margin-top: 5px;
}




.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    left: 0em;
    margin-top: -8px;
    position: absolute;
    top: 50%;
}

.ui-state-active .ui-icon {
    background-image: url("../images/ui-icons_454545_256x240.png");
}

.ui-icon-triangle-1-s {
    background-position: -64px -16px;
}

.ui-icon {
    height: 16px;
    width: 16px;
}

.ui-icon {
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
}

.ui-state-default .ui-icon {
    background-image: url("../images/ui-icons_888888_256x240.png");
}

.ui-icon-triangle-1-e {
    background-position: -32px -16px;
}
.tabel_size td input[type=checkbox]{
	margin:5px 0 0 0;
	
	}
.tabel_size td span{
	margin-left:15px;
	font-size:12px;
	
	}
.tabel_size td span a{
	color:#7d7d7d;
	text-decoration:none;
}


.tabel_size td span a:hover{
	color:#f74c45;
	text-decoration:underline;
}

.signin-box{
	    border:1px solid #d3d3d3;
		padding:10px 10px;
		min-height: 282px;
	}

.signin-box h2 {
    border-bottom: 1px solid #4b4b4b;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:24px;
	color:#000;
	margin:0px 0px 10px 0px;
	padding:0px 0px 10px 0px;
}
.signin-box label{
	font-size:12px;
	color:#000;
	font-weight:300;
	float:right;
	margin-right:15px;
	}
.signin-box input[type=text]{
	border: 1px solid #d3d3d3;
	margin:5px 0;
	padding:5px;
	font-size:12px;
	width:95%
	}

.signin-box textarea{
	border: 1px solid #d3d3d3;
	margin:5px 0;
	padding:5px;
	font-size:12px;
	width:95%
	}

.signin-box input[type=password]{
	border: 1px solid #d3d3d3;
	margin:5px 0;
	padding:5px;
	font-size:12px;
	width:95%
	}

.signin-box select{
	border: 1px solid #d3d3d3;
	margin:5px 0;
	padding:5px;
	font-size:12px;
	width:95%
	}

a.forgot{
	   color: #000;
    display: inline-block;
    font-size: 12px;
    padding: 10px 0 10px 100px;
    text-decoration: none !important;
	
	}

a.billing{
	   color: #000;
    display: inline-block;
    font-size: 12px;
    padding: 0px 0 0px 10px;
    text-decoration: none !important;
	
	}

.signin-login{
	 
    color: #fff;
    margin: 8px 0 8px 98px;
    text-align: center;
    text-decoration: none !important;
    width: 216px;
	text-transform:uppercase;
}
.signin-login a{
	color: #fff;
text-decoration:none !important;
display:block;
padding: 9px 15px;
}

.signin-login input[type=submit]{
	 background: #f74c45;
	color: #fff;
text-decoration:none !important;
display:block;
padding: 9px 15px;
width: 216px;
	text-transform:uppercase;
	border:none;
}

.signin-login input[type=submit]:hover{
	background:#333;
	
	}

.login-fb{
	background:#3d578e !important;
	display:none;
	
	}


.signin-box tr td {
	vertical-align:middle;
	
	}
.edit-address{
	width:100%;
    border: 1px solid #d3d3d3;
    padding: 10px;
	overflow:hidden;
}

.edit-address label{
	clear:both;
	font-weight:300;
	
	}

.mscCart{
    border: 1px solid #cbcbcb;
	margin-bottom:15px;
}

.mscCart .title {
    background: #eee;
    padding: 7px 10px;
    font-weight: 300;
    overflow: hidden;
	color:#000;
}

.mscCart .content {
    padding: 10px;
    position: relative;
}

.ms_cart_grid th {
    font-size: 9px !important;
}

.txtRight {
    text-align: right;
}

.ms_cart_grid {
    border-spacing: 2px !important;
    border-collapse: separate !important;
    color: grey;
    width: 100%;
}

.ms_cart_border_top td {
    border-top: 2px dotted #a7a7a7 !important;
}
.pas{
	padding:5px 5px;
	
	}

.ms_cart-txt {
    width: 155px !important;
    font-size: 10px !important;
    min-height: 45px;
}

.fss {
    font-size: 11px;
    font-size: 1.1rem;
}


.pts{
	padding-top:5px !important;
	
	}

.msc-total_summary {
    position: relative;
}
.ms_cart_grid .btn_remove-item {
    
}

a.btn_remove-item {
    color: rgba(0,0,0,0.27);
    position: absolute;
    bottom: 5px;
    right: 5%;
    text-decoration: underline;
}

.mscTotal {
    background: #fcf8d1;
    border: 2px solid #ff973f;
	 margin: 20px 0 0;
}
.ui-gridFull {
    display: table;
    width: 100%;
}

.ms_grand_total {
    font-weight: bold;
    font-size: 16px;
    padding-top: 20px !important;
}

.ui-inputRadioMask ~ label::before {
    background: #000;
    content: "";
    cursor: pointer;
    display: block;
    float: left;
    height: 16px;
    width: 16px;
    margin-top: 0;
    margin-right: 10px;
    vertical-align: middle;
}

.ship-time{
	clear:both;
	padding:10px 0;
	
	}

.ship-status{
	    color: #00e600;
		font-weight:700;
	padding-bottom: 10px;
	}

.msc-package {
    width: 100%;
    font-size: 12px;
    font-size: 1.2rem;
    text-align: left;
}

.msc-package .header {

    font-size: 18px;
    font-size: 1.8rem;
	display:block;

}


.msc-package .qty {
    width: 10%;
}

.msc-package .price {
    width: 20%;
}

.msc-package thead tr {
    border-bottom: 1px solid #666;
	padding:10px 0;
}

.strong {
    font-weight: bold;
}

.msc-package tr td{
	vertical-align:top;
	padding-top:15px;
}

.chkSucP-colLeft {
    float: left;
    width: 475px;
    margin-bottom: 20px;
}

.chkSucP-orderInfo-hdl {
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    background-color: #219801;
    border: 2px solid #219801;
    height: 27px;
    font-family: Tahoma,Arial,Verdana,"sans serif";
    font-weight: bold;
    text-transform: uppercase;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
	margin:0px;
}

.chkSucP-orderInfo-inner {
    width: 475px;
    margin-bottom: 20px;
    height: auto;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #219801;
    padding: 18px 18px 15px 18px;
}

.chkSucP-orderInfo-list li.chkSucP-orderInfo-orderData {
    border-bottom: 1px solid #ccc;
    font-size: 12px;
    color: #333;
    padding-bottom: 15px;
    margin-bottom: 0;
}

.ui-block {
    display: block;
}

.sel-order-nr {
    font-weight: bold;
}
.mtl, .mvl, .mal {
    margin-top: 20px !important;
}
.chkSucP-orderInfo-list li:last-child {
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
    padding-bottom: 10px;
}

.chkSucP-orderInfo-amount, .chkSucP-orderInfo-info {
    float: left;
    display: inline;
    width: 16.46%;
}

.chkSucP-orderInfo-overlayHolder {
    position: relative;
}

.chkSucP-orderInfo-amount-link {
    padding-left: 9px;
    font-weight: bold;
    text-decoration: underline;
    font-size: 13px;
    line-height: 1.2;
    color: #000;
}

.chkSucP-orderInfo-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: -2px;
    z-index: 1000;
}

.chkSucP-orderInfo-overlay-head {
    box-shadow: 4px -3px 3px rgba(153,153,153,0.2),0 -5px 3px rgba(153,153,153,0.1),-4px -3px 3px rgba(153,153,153,0.2);
    text-decoration: none;
    cursor: pointer;
    color: #fe9447;
    border-top: 1px solid #5299cc;
    border-left: 1px solid #5299cc;
    border-right: 1px solid #5299cc;
    display: inline;
}

.chkSucP-orderInfo-info {
    width: 83%;
}

.chkSucP-orderInfo-list li {
    margin-bottom: 15px;
    padding-top: 15px;
}

.chkSucP-orderInfo-txtLine {
    display: block;
    font-size: 12px;
    line-height: 19px;
    padding-bottom: 3px;
    color: #666;
}

.chkSucP-orderInfo-byShop>label {
    font-weight: bold;
    font-size: 13px;
    color: #000;
}

.rfloat {
    float: right;
}

.fullSizeLine {
    width: 100%;
}

.resumeTotalListBox {
    width: 100%;
    height: auto;
}

.successLineHeight {
    height: 32px !important;
}

.resumeSubBox {
    width: 140px;
    height: 20px;
    text-align: right;
    float: right;
}

.resumeSubBoxLeft {
    float: right;
    height: 20px;
    text-align: left;
    width: 140px;
}

.resumeBoldAttribute {
    font-weight: bold;
	color:#000;
}

.chkSucP-orderInfo-more {
    overflow: hidden;
    font-size: 12px;
    padding: 0;
}

.chslinks {
    font-weight: normal;
    color: #36c;
    text-decoration: underline;
    float: right;
}

.chkSucP-orderInfo-print.print-order {
    float: left;
}

ul.chkSucP-orderInfo-list{
	padding:0px;
	margin:0px;
	
	
	}

ul.chkSucP-orderInfo-list li{
	list-style:none;
	padding:0px;
	margin:0px;
}

.display-name{
	font-size:14px;
	color:#000;
	padding:15px 0;
	font-weight:300;
	float:left;
	margin:0 15px;
	}

.display-name span{
	font-weight:700;
	}

.top-cart{
	font-size:14px;
	color:#000;
	float:left;
	font-weight:700;
	padding:15px 0 15px 32px;
	background:url(../images/basket.png)0 12px  no-repeat;
	}

a.logout{
	background:#f10000;
	color:#fff;
	padding:5px 10px;
	display:inline-block;
	margin: 10px 0px;
}

.fright{
	float:right;
	
	}

.more-products h2{
	font-weight:700;
	font-size:16px;
	margin:0 0 15px 0;
	
	}

.more-products img{
	width:50px;
	float:left;
	margin:0 15px 20px 0;
	
	}

.more-products h3{
	font-weight:700;
	font-size:12px;
	margin:0 0 5px 0;
	
	}

.more-products p{
	font-weight:300;
	font-size:13px;
	margin:0px;

	}

.more-product-price{
	color: #f74c45;
    font-size: 16px;
    padding-left: 10px;
	}



/*Cloud Zoom*/

.demo {
	margin: 0 auto;
	width: 600px;
}
.tickul li {
	line-height: 24px;
}
/* zoom-section */
.zoom-section {
	clear: both;
}
*html .zoom-section {
	display: inline;
	clear: both;
}
.zoom-desc {
	float: left;
	width: 310px;
}
.zoom-small-image {
	border: 4px solid #CCC;
	float: left;
	margin-bottom: 10px;
}
.zoom-tiny-image {
	border: 1px solid #CCC;
	margin: 0px;
	width: 48px;
	height: 64px;
}
.zoom-tiny-image:hover {
	border: 1px solid #C00;
}
.cloud-zoom-big {
	width: 400px;
	height: 520px;
}